<%- include('../partials/header') %>
    <h1>Skills as of <%= time %></h1>
    <hr class="skillLine">
    <ul>
      <% skills.forEach(function(skill) { %>
        <li>
          <form action="/skills/<%= skill.id %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">Remove</button>
          </form>
          <a href="/skills/<%= skill.id %>">
            <%= skill.skill %>
          </a>
        </li>
      <% }); %>
    </ul>
   <a href="/skills/new">Add a new Skill</a>
<%- include('../partials/footer') %>