
<%- include('../partials/header') %>

    <h3><%= skill.skill %></h3>
    <h4>level: <%= skill.level %></h4>

    <a href="/skills/<%= skill.id %>/edit">Edit Skill Level</a>
    

    <form action="/skills/<%= skill.id %>?_method=DELETE"
        class="delete-form" method="POST">
        <button type="submit">Remove Skill</button>
      </form>

<%- include('../partials/footer') %>
